header
    div.container
        h1 First aplication using PUG
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus condimentum ipsum in dictum. Fusce odio orci, varius id tincidunt eu, dapibus vel ex. Etiam a fringilla risus, non tempus odio. Aliquam pellentesque nibh at venenatis vestibulum. Donec vitae enim et quam varius accumsan maximus ac tellus. Maecenas eget mi nibh.